#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navi {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.question-div {
  width: 50rem;
  border: 1px solid #ddd;
  padding: 2rem;
  margin-bottom: 1rem;
}

.game-div {
  margin: 1rem;
  border: 1px solid #ddd;
  padding: 2rem;

  display: grid;
  place-items: center;
  height: '100vh';
}

.game-div td {
  width: 5rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
}

.td-show {
  background-color: #6c6767;
}
.td-close {
  background-color: none;
}
.td-boom {
  background-color: #2a2a2a;
  color: white;
}
