ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* tab에 대한 내용들은 처음부터 안보이게 한다!!! */
.tab-content {
  display: none;
  padding: 10px;
}
/* 선택되어있는 탭 내용을 보이게! */
.show {
  display: block;
}

/* 탭을 클릭했을 때 구별하는 디자인(현재 눌려진 탭)  */
.orange {
  border-top: 2px solid orange;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
