* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin-top: 3vh;
  padding: 0;
  border: 1px solid #efefef;
  border-top: 2px solid black;
}
.list {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}
.tab-button {
  display: block;
  position: relative;
  width: 25%;
  height: 100%;

  padding: 10px 20px 10px 20px;
  /* float: left; */
  margin-right: -1px;
  margin-bottom: -1px;

  color: #555;
  border: 1px solid #efefef;
  background-color: #e4e4e4;
  text-decoration: none;
  cursor: pointer;
}

.tab-button h3 {
  text-align: center;
  font-size: 2vh;
}

.tab-content {
  display: none;
  padding: 10px;
}

.isShow {
  display: block;
}

.tab-content h4 {
  font-size: 1.7vh;
  font-weight: 700;
}

.tab__table {
  width: 100%;
  table-layout: fixed;
}
.tab__table tr {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  font-size: 1.4vh;
}

.tab__table td:nth-child(odd) {
  background-color: lightgray;
  font-weight: 500;
}

.review__header span {
  font-size: 1.4vh;
  color: gray;
}

.tab__rank {
  display: flex;
}
.tab__rank h4 {
  font-size: xx-large;
  font-weight: 500;
  margin-right: 1vh;
}
.tab__rank a {
  text-decoration: none;
}

.tab__ask__header {
  display: flex;
  justify-content: space-between;
}
.tab__ask__list {
  font-size: 1.3vh;
}

.isClick {
  background-color: white;
  border-bottom: none;
}
