// ScssTest3.scss
@mixin button-style($bg-color) {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: $bg-color;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.btn {
  font-size: 1rem;
  margin-right: 1rem;
}

.primary {
  @include button-style(#3498db);
}

.danger {
  @include button-style(#e74c3c);
}

.wrapper {
  padding: 2.5rem;
  text-align: center;
  background-color: #ccc;
}

/*
Mixin
- 재사용 가능한 스타일 블록
- 자바스크립트에서 함수처럼 필요한 곳에 @include로 불러와서 씀

& 란?
- 바깥 부모 셀렉터 자체를 가리키는 기호
- 부모 css를 가리킨다.
*/
