/* bg-cover 
 bg-[url(https://img.freepik.com/free-photo/gyeongbokgung-palace-with-cherry-blossom-spring-south-korea_335224-383.jpg?semt=ais_hybrid&w=740)] 
 bg-no-repeat */

/* .main__view {
  background-image: url(https://img.freepik.com/free-photo/gyeongbokgung-palace-with-cherry-blossom-spring-south-korea_335224-383.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
