@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

/* 커스텀 */
@layer components {
  .login-section {
    width: 80rem;
    height: 45rem;
    border-radius: 1rem;
    /* border: 1px solid black; */
  }
  .bg-login-image {
    background-image: url('../image/loginpage.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  .contain-center {
    margin: 0 auto;
    width: 25rem;

    /* border: 1px solid saddlebrown; */
  }
  .login-title {
    width: 60%;
    text-wrap: wrap;
    font-size: var(--text-3xl); /* 3rem (48px) */
    line-height: 1.3;
    font-family: var(--font-noto);
    /* margin-bottom: 1rem; */
  }
  .login-tab {
    padding: 0.4rem 0.8rem;
    text-align: center;
    color: var(--color-zinc-400);
    font-size: var(--text-medium);
    line-height: 1.5;
  }
  .login-tab.tab-click {
    background-color: white;
    color: var(--color-zinc-700);
  }
  button {
    cursor: pointer;
  }
}

@theme {
  --font-noto: 'Noto Sans KR', sans-serif;
  --color-icon-line: #06c755;
}
