#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  padding: 3rem;
  margin: 2rem;
  border: 1px solid #ddd;
}

.navi {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form-basic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.q-info p {
  margin: 0.2rem;
  line-height: 1.2;
}
.q-info {
  margin-bottom: 1rem;
}
