#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
  min-width: 994px;
  overflow-x: auto;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--solid-light-color);
  margin-top: 1rem;
}
/* 카드 왼쪽부분 */
.card-contents {
  margin-right: 1rem;
  width: 140rem;
}

/* 카드 컨텐츠 */
.card-contents-word {
  font-size: 0.9rem;
  overflow: hidden;
  text-align: left;
  color: var(--font-gray-color);

  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 문장라인이 3이상인경우 자르기 */
  -webkit-box-orient: vertical;
}

/* 카드 공감, 댓글 */
.card-meta span {
  color: var(--font-lightgray-color);
  font-size: 0.9rem;
  margin-right: 0.8rem;
}

/* 아바타 스타일 */
.card-avater {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avater-img {
  margin-right: 1rem;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--solid-light-color);
}
.card-avater-contents {
  margin-top: 0.3rem;
}
.card-avater-contents p,
span {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.avater-time {
  font-size: 0.8rem;
  color: var(--font-lightgray-color);
}

/* 카드 오른쪽 이미지 */
.card-thumbnail {
  width: 50rem;
  height: 14rem;
  overflow: hidden;
}

.card-thumbnail img {
  width: 13rem;
  height: 13rem;
  float: right;
  object-fit: contain;
  border: 1px solid var(--solid-light-color);
}
