.navbar {
  background: black;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.secondary-nav {
  background-color: #369db3;
  padding: 1rem;
}
.secondary-nav a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
